<!DOCTYPE html>
<html lang="en">
<%- include("head1")%>
<body>
<section class="section">
    <div class="container">
        <h1><%= sp.label%></h1>
        <h2>Tên sản phẩm<%= sp.tensp%></h2>
        <h3>Giá tiền <%= sp.giatien%></h3>
        <img src="<%= sp.anhsp%>">
        <p><%= sp.mota%></p>
        <h5><%=sp.soluong%></h5>
    </div>
</section>
</body>
</html>